@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

:root {
  --paddingLeftRight: 4% ;
}

#home {
  background: rgb(2, 180, 231);
  background: linear-gradient(106deg, rgb(2, 180, 231) 0%, rgb(35, 170, 246) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02b4e7",endColorstr="#23aaf6",GradientType=1);
}

#projects {
  background: rgb(45, 54, 60);
  background: linear-gradient(106deg, rgb(45, 54, 60) 0%, rgb(12, 22, 38) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d363c",endColorstr="#0c1626",GradientType=1);
}

h1 {
  font-family: "Open Sans", sans-serif;
}

#menu {
  width: 100%;
  height: 90px;
  background-color: #0081C9;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
}
#menu div {
  padding: 0px 40px;
  width: 70%;
  height: 26px;
}
#menu a {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-right: 60px;
}

#view1 {
  width: 100%;
  height: 100%;
  padding: 8.12rem var(--paddingLeftRight);
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-gap: 80px;
  overflow-y: none;
  background-color: transparent;
}
#view1 h1 {
  font-size: 90px;
  color: white;
}

.webDeveloper-sh {
  font-size: 50px;
  color: #38618C;
  font-weight: 400;
  margin-bottom: 60px;
}

.home-description {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 25px;
  line-height: 43px;
}

.home-left img {
  width: 90%;
  transform: rotate(10deg);
  animation: floating 2s ease-in-out infinite; /* Adjust the animation duration as needed */
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust this value to control the floating motion */
  }
}
/**********************************************  VIEW 2  *******************************************/
/**********************/
#projects_page {
  padding: 6.12rem 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow-x: hidden;
}
#projects_page h1 {
  font-size: 120px;
  color: white;
  padding-left: var(--paddingLeftRight);
  margin-bottom: 4rem;
}
#projects_page .color-line {
  width: 100%;
  height: 40%;
}
#projects_page .project {
  position: relative;
  height: 600px;
  margin-bottom: 350px;
}
#projects_page .project img {
  cursor: pointer;
  transition: transform 0.5s ease;
}
#projects_page .project img:hover {
  transform: scale(1.1);
}
#projects_page #project1 .color-line {
  background-color: #5BC0F8;
}
#projects_page #project2 .color-line {
  background-color: #EBAE11;
}
#projects_page #project3 .color-line {
  background-color: #0081C9;
}
#projects_page #project4 .color-line {
  background-color: #2CC5EF;
}
#projects_page .project-container {
  display: flex;
  margin: 20px var(--paddingLeftRight);
  position: absolute;
  top: 10%;
  gap: 4%;
}
#projects_page .project-left img {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.4);
}
#projects_page .project-right {
  width: 100%;
  color: white;
}
#projects_page .project-right h2 {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 120px;
}
#projects_page .project-right p {
  font-size: 35px;
  line-height: 65px;
}
#projects_page .reverse {
  flex-direction: row-reverse;
}

/**********************/
@media screen and (max-width: 2000px) {
  #projects_page h1 {
    font-size: 70px;
    padding-bottom: 25px;
  }
  #projects_page #project1 .color-line {
    background-color: #5BC0F8;
    height: 30%;
  }
  #projects_page #project2 .color-line {
    background-color: #EBAE11;
  }
  #projects_page #project3 .color-line {
    background-color: #0081C9;
  }
  #projects_page #project4 .color-line {
    background-color: #2CC5EF;
    height: 30%;
  }
  #projects_page .project {
    margin-bottom: 0px;
  }
  #projects_page .project-container {
    top: 8%;
  }
  #projects_page .project-left {
    width: 100%;
  }
  #projects_page .project-left img {
    width: 100%;
  }
  #projects_page .project-right h2 {
    font-size: 50px;
    margin-bottom: 70px;
  }
  #projects_page .project-right p {
    font-size: 20px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1200px) {
  #projects_page h1 {
    text-align: center;
    margin-top: 50px;
    padding: 0px;
  }
  #projects_page .project-container {
    display: inline-block;
  }
}
@media screen and (max-width: 850px) {
  :root {
    --paddingLeftRight: 8% ;
  }
  #menu {
    position: absolute;
    width: 100%;
    top: 0;
    height: 70px;
  }
  #menu div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #menu div a {
    margin: 0px;
    font-size: 20px;
    margin: 0;
  }
  #view1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 7.12rem var(--paddingLeftRight);
    grid-gap: 50px;
  }
  #view1 h1 {
    font-size: 40px;
    padding-bottom: 0px;
    text-align: center;
  }
  #view1 .webDeveloper-sh {
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
  }
  #view1 p {
    font-size: 22px;
    text-align: center;
  }
  .home-left img {
    width: 70%;
    display: block;
    margin: 0px auto;
  }
  #projects_page h1 {
    text-align: center;
    padding: 0px;
  }
  #projects_page h2 {
    margin-top: 50px !important;
    margin-bottom: 20px !important;
  }
  #projects_page .project {
    width: 100%;
    height: 850px;
  }
  #projects_page .project-container {
    display: flex;
    flex-direction: column;
  }
  #projects_page #project1 .color-line {
    background-color: #5BC0F8;
    height: 30%;
    margin-top: 80px;
  }
  #projects_page #project2 .color-line {
    margin-top: 80px;
    height: 30%;
  }
  #projects_page #project3 .color-line {
    margin-top: 80px;
    height: 30%;
  }
  #projects_page #project4 .color-line {
    margin-top: 80px;
    height: 30%;
  }
  #projects_page .project-container {
    top: 0;
  }
}
@media screen and (max-width: 500px) {
  #projects_page h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #projects_page h2 {
    margin-top: 45px !important;
    font-size: 30px !important;
    text-align: center;
  }
  #projects_page .project-container {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  #projects_page .color-line {
    margin-top: 0px !important;
    position: absolute !important;
    height: 15% !important;
    top: 28% !important;
  }
  #projects_page .project-left img {
    border-radius: 0px;
  }
  #projects_page .project-right p {
    padding: 20px !important;
    font-size: 18px;
  }
  .temple {
    padding-top: 25px;
  }
}/*# sourceMappingURL=styles.css.map */